<h1>Hola <%= @adoption.full_name %></h1>
<p>Lamentamos informarte que tu solicitud para adoptar a <%= @adoption.pet.name %> no ha sido aprobada.</p>
<p>Te agradecemos por tu interés en adoptar y te animamos a considerar otras mascotas disponibles.</p>